.html2canvas-container { width: 8000px !important; height: 3000px !important; }

/* https://coolors.co/74b3ce-508991-172a3a-004346-09bc8a */
body {
    background: #74B3CE;
    padding: 40px;
}

*:focus-visible{
    outline: unset;
}

#output-wrapper {
    display: flex;
    visibility: hidden;
}

#tree-output-wrapper {
    border-right: 1px solid #004346;
    padding: 20px;
}

#building-output-wrapper {
    padding: 20px;
}

:is(#tree-output-wrapper, #building-output-wrapper) strong {
    font-size: 1.4rem;
}

#product-selector {
    font-size: 1.4rem;
    background: transparent;
    padding: 12px;
    margin-bottom: 12px;
}

#tree-output > .tree-item > .product-card {
    background: #004346;
    color: white;
    font-size: 1.4rem;
}

.tree-item {
    /*display: flex;*/
    display: inline;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    padding: 5px;
}

.tree-item.has-children {
    border: 1px solid #CCC;
}

.tree-children {
    display: flex;
    column-gap: 10px;
    flex-direction: column;
    justify-content: center;
}

.tree-children .tree-children {
    flex-direction: row;
}

.product-card {
    border-radius: 4px;
    padding: 8px;
    margin: 6px 4px;
    background: #508991;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
}

.product-quantity {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 0 4px 0;
}

.product-name {
    display: inline-block;
    position: relative;
    top: -1px;
}

.product-build-materials {
    font-size: 0.8rem;
    margin-top: 4px;
    padding-left: 8px;
}

.buildings-item {
    font-size: 1.1rem;
    border: 1px solid transparent;
    margin-bottom: 4px;
    padding: 4px;
}

.buildings-item.selected {
    border: 1px solid #508991;
}

.footer {
    padding: 0 20px 20px;
    font-size: 0.9rem;
}